<style>
    #register label {
        width: 150px;
    }
</style>
        <form id="register" name="register">
            <label for="email">Email: </label><input type="text" id="email" name="email" title="Ваш Email" /><br />
            <label for="password">Пароль: </label><input type="password" id="password" name="password" title="Пароль" /><br />
            <label for="pass_confirm">Пароль еще раз: </label><input type="password" id="pass_confirm" name="pass_confirm" title="Подвердите пароль" /><br />
            <label for="nickname">Никнейм: </label><input type="text" id="nickname" name="nickname" title="Никнейм будет отображаться" /><br />
            <input type="submit" value="Регистрация" class="main" />
        </form>